<nav>
  <div class="site-title">
    <a href="/"><h1>Reinsdyr</h1></a>
    <p>Register</p>
  </div>
  <ul>
    <li><a href="/">Søk</a></li>
    <li><a href="/about">Om Registeret</a></li>
    <li><a href="/beite">Beite</a></li>
  </ul>
</nav>