<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Om registeret</h2>
    <p>Reinsdyr registerfor den samiske organisasjonen Kukkik Ano</p>
    <p>I registeret finner du informasjon om flokken, eier, individuelle reinsdyr og beite</p>
    <p></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>

