<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Beite</h2>
    <img src="../beite.png">
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>